/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 20px;
    text-align: center;
}

.task-input {
    display: flex;
    justify-content: space-between;
}

.task-input input[type="text"],
.task-input input[type="datetime-local"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(225, 228, 227);
}

.task-input button {
    padding: 10px 20px;
    border: none;
    background: #438ec8;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.task-input button:hover {
    background: #e243b5;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

#task-list li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li.completed {
    text-decoration: line-through;
    color: #888;
}

#task-list button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background: #d9534f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#task-list button.edit {
    background: #f0ad4e;
}

#task-list button:hover {
    opacity: 0.8;
}
